/*Styles below as are used for Timer component. They are also used in Alarm, but with changes in alarm.css*/

.digit-input {
    margin-right: var(--timer-digit-input-margin-right);
    width: var(--timer-digit-input-width);
    display: flex;
    flex-flow: column wrap;
    align-items: center;
}

.digit-input:last-child{
    margin-right: 0;
}

.digit-input .digit-input-text{
    font: var(--timer-digit-input-font-size) 'OpenSans', Arial, sans-serif;
    width: 100%;
    background-color: hsla(167, 10%, 45%, 1);
    color: hsla(36, 31%, 84%, 1);
    border-width: 0;
    border-top: 1px solid hsla(36, 31%, 84%, 1);
    border-bottom: 1px solid hsla(36, 31%, 84%, 1);
    caret-color: hsla(9, 100%, 70%, 1);
    margin: 1.8vh 0;
    padding: 0.7vh 0;
    text-align: center;
}

.digit-input .digit-input-text.disabled{
    color: hsla(36, 31%, 84%, 0.5);
}

.digit-input button {
    width: 100%;
    height: var(--digit-input-button-height);
    background-color: transparent;
    border-width: 0;
    border-radius: 5px;
    cursor: pointer;
}

.digit-input button.button-disabled{
    cursor: default;
}

.digit-input button.button-enabled:hover{
    background-color: hsla(111, 11%, 61%, 1);
    box-shadow: 0 4px hsla(247, 7%, 26%, 1);
}

.digit-input button.button-enabled:active{
    background-color: hsla(111, 11%, 65%, 1);
    box-shadow: 0 2px hsla(247, 7%, 26%, 1);
    transform: translateY(2px);
}

.arrow {
    background-repeat: no-repeat;
    background-position: center;
}

.up-arrow {
    background-image: url("../svg/up-arrow.svg");
}

.down-arrow {
    background-image: url("../svg/down-arrow.svg");
} 

