@import url("fonts.css");
@import url("animations.css");
@import url("button-reset.css");
@import url("button-reset-disabled.css");
@import url("close-component.css");
@import url("digit-input-block.css");
@import url("initial-curtain.css");
@import url("alarm.css");
@import url("time.css");
@import url("stopwatch.css");
@import url("timer.css");

/* hsla(36, 31%, 84%, 1) */
/* hsla(111, 11%, 61%, 1) */
/* hsla(167, 10%, 45%, 1) */
/* hsla(247, 7%, 26%, 1) */

body {
    background-color: hsla(247, 7%, 26%, 1);
    padding: 0;
    margin: 0;
}

::selection{
    background-color: hsla(247, 7%, 26%, 1);
}

.app {
    display: grid;
    grid-template-areas: 
        "time alarm"
        "stopwatch timer";
    width:100vw;
    height:100vh;
    background-color: hsla(167, 10%, 45%, 1);
    color: hsla(36, 31%, 84%, 1);
}

.alarm {
    grid-area: alarm;
}

.time {
    grid-area: time;
}

.stopwatch {
    grid-area: stopwatch;
}

.timer {
    grid-area: timer;
}

.container {
    width:50vw;
    height:50vh;
}

/********************* hide-element *********************/

.hide-element{
    display: none;
}

/******** variables for Timer and digit-input-block ********/

@media screen and (min-device-width: 800px){
    html{
        --timer-digit-input-width: 2.7vw;
        --timer-digit-input-margin-right: 1vw;
        --timer-digit-input-font-size: 1.2vw;
        --digit-input-button-height: 2.5vh;
        --timer-button-height: 4vh;
        --timer-reset-history-button-width: 2vw;
        --timer-start-stop-button-font-size: 2vh;
        --timer-countdown-component-font-size: 2vw;
        --timer-history-list-font-size: 1.7vh;
        --timer-history-list-close-button-width: 2vw;
        --timer-history-list-close-button-height: 3vh;
        --timer-history-list-area-width: 12vw;
        --timer-history-list-area-height: 19vh;
        --initial-curtain-font-size: 4vh;
    }
}

/*
@media screen and (min-device-width: 1200px){
    html{
    }
}

@media screen and (min-device-width: 1600px){
    html{
    }
}
*/